.poster-wrapper img {
    width: 150px;
    height: 226px;
    background-color: #dbdada;
    border-radius: 5px;
    margin-right: 15px;
    display: block;
    color: transparent;
    margin-left: 20px;
    margin-top: 20px;
}

.o__article {
    // display: flex;
    // margin-bottom: 10px;
    display: inline-block;
    // margin-left: 50px;
    width: 360px;
    background-color: #f7f3f3;
    border-radius: 5px;
}