@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #69dadb;
  --secondary: #21d07a;
  --white: #fff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

header,
main {
  overflow: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Dark Mode Styles */

/* .bg-dark {
  background-color: #222;
} */

/* .heading-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}

.btn-dark {
  background-color: #fff;
  color: #222;

} */

/* Light Mode Styles */

/* .bg-light {
  background-color: #fff;
} */

/* .heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
} */
