:root {
  background-color: #212529;
}
header {
  height: 20rem;
  color: rgb(163, 159, 221);
}
.background-image {
  background-image: url("./assets/img/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.maxwidth {
  max-width: 1200px;
}

.game-card {
  height: 20rem;
}
